@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@600&family=Lobster&family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    min-height: 73vh;
    margin: 40px 0px;
}
.container h1{
    text-align: center;
    margin:12px;
    font-family: 'Baloo Bhai 2', cursive;
}
.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myInput{
    width: 38%;
    margin: 3px;
    padding: 4px;
    border: 2px solid #685656;
    border-radius: 6px;
    font-size: 15px;
    justify-content: center;
    outline: none;
}
.btn{
    padding: 6px 16px;
    margin: 10px;
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #685656;
    border-radius: 6px;
    background-color: rgb(242 217 180);
}
.btn:hover{
    background-color: #c1b1b1;
    color: rgb(147 39 39);
    cursor: pointer;
}

